# OS junk files
.DS_Store
Thumbs.db

# Laravel environment
.env
.env.*
!.env.example

# Logs & cache
*.log
phpunit.result.cache
/.phpunit.cache
/.phpunit.result.cache
/.phpactor.json

# IDE & editor folders
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Node / front-end
/node_modules
/public/build
/public/hot

# Storage
/storage/*.key
/storage/framework/*
/storage/logs/*
/storage/debugbar/*
/storage/app/public/*
/storage/pail
/storage/tiramis_certs/

# Vendor
/vendor

# Homestead
Homestead.json
Homestead.yaml

# Other
auth.json
